body {
    font-family: freesans, sans, sans-serif;
    font-size: 17px;
    color: #fffaff;
    background-color: #2e3440;
    width: 85%;
    max-width: 950px;
    padding: 25px 30px 20px 30px;
    text-align: left;
    margin: auto;
}

h1, p, li, a {
    text-shadow: 2px 2px 1px rgb(0,0,0,0.8);
}

h1, b {
    color: #eceff4;
}

p {
    color: #d8dee9;
}

li {
    color: #88c0d0;
}

a {
    color: #81a1c1;
    text-decoration: none;
}

a:hover {
    color: #5e81ac;
}

.profile-picture {
    width: 70px;
    margin-right: 20px;
}

.content-sidebar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:flex-start;
}

.center-content {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.rounded {
    border-radius: 22px;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    box-shadow: 0 19px 51px 0 rgba(0,0,0,0.16), 0 14px 19px 0 rgba(0,0,0,0.07);
}

.round-img {
    clip-path: circle();
}

.line-break {
    width: 100%;
}

.icons {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
}

.icons img {
    width: 25px;
    color: white;
    padding-left: 5px;
    vertical-align: middle;
}

.anchored-right {
    display: inline-block;
    width: 50%;
    text-align: right;
    vertical-align: middle;
}

.anchored-right a {
    padding: 5px;
}

.vert-line {
    border-right: 1px solid #4c566a;
}

video {
    filter: drop-shadow(0 0 0.75rem #1C1B22);
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    video {
        height: 200px;
    }
}